In [1]:
import pandas as pd

In [12]:
dolar = pd.read_csv('dados/dolar.csv', sep=';',dtype='str')

In [13]:
#Padronizando a nomenclatura das colunas
dolar.rename(columns={'DATA' : 'DATA_PREGAO', 'COMPRA' : 'DOLAR'}, inplace = True)

#Removendo colunas desnecessárias
dolar.drop(['COLUNA1', 'COLUNA2', 'TIPO', 'VENDA', 'COLUNA3', 'COLUNA4', 'COLUNA5'], inplace=True, axis=1)

#Padronizando a coluna DATA_PREGAO
dolar['DATA_PREGAO'] = dolar['DATA_PREGAO'].apply(lambda x: x[0:2] + '/' + x[2:4] + '/' + x[4:])
dolar['DATA_PREGAO'] = pd.to_datetime(dolar['DATA_PREGAO'], format="%d/%m/%Y")

#Padronizando a coluna de valor
dolar['DOLAR'] = dolar['DOLAR'].apply(lambda x: x.replace(',', '.'))
dolar['DOLAR'] = pd.to_numeric(dolar['DOLAR'], downcast='float')

#Criando índice
dolar.set_index('DATA_PREGAO', inplace=True)

DOLAR    2763
dtype: int64

In [15]:
dolar['teste'] = dolar.DOLAR.rolling(30).mean().shift()
dolar

              DOLAR     teste
DATA_PREGAO
2010-01-04   1.7232       NaN
2010-01-05   1.7219       NaN
2010-01-06   1.7329       NaN
2010-01-07   1.7405       NaN
2010-01-08   1.7382       NaN
...             ...       ...
2020-12-24   5.1785  5.233497
2020-12-28   5.2384  5.225820
2020-12-29   5.1936  5.217607
2020-12-30   5.1961  5.210087
2020-12-31   5.1961  5.203417

[2763 rows x 2 columns]

In [16]:
dolar.head(40)

              DOLAR     teste
DATA_PREGAO
2010-01-04   1.7232       NaN
2010-01-05   1.7219       NaN
2010-01-06   1.7329       NaN
2010-01-07   1.7405       NaN
2010-01-08   1.7382       NaN
2010-01-11   1.7315       NaN
2010-01-12   1.7431       NaN
2010-01-13   1.7434       NaN
2010-01-14   1.7640       NaN
2010-01-15   1.7703       NaN
2010-01-18   1.7713       NaN
2010-01-19   1.7739       NaN
2010-01-20   1.7846       NaN
2010-01-21   1.7895       NaN
2010-01-22   1.8179       NaN
2010-01-25   1.8186       NaN
2010-01-26   1.8359       NaN
2010-01-27   1.8505       NaN
2010-01-28   1.8552       NaN
2010-01-29   1.8740       NaN
2010-02-01   1.8765       NaN
2010-02-02   1.8355       NaN
2010-02-03   1.8329       NaN
2010-02-04   1.8707       NaN
2010-02-05   1.8745       NaN
2010-02-08   1.8722       NaN
2010-02-09   1.8542       NaN
2010-02-10   1.8475       NaN
2010-02-11   1.8508       NaN
2010-02-12   1.8662       NaN
2010-02-17   1.8305  1.805380
2010-02-18   1.8258  1.808957
2010-02-19   1.8108  1.812420
2010-02-22   1.8038  1.815017
2010-02-23   1.8178  1.817127
2010-02-24   1.8195  1.819780
2010-02-25   1.8356  1.822713
2010-02-26   1.8102  1.825797
2010-03-01   1.7992  1.828023
2010-03-02   1.7843  1.829197